

@media (min-width: 1440px) {
  .aboutUs{
    margin-left: 6em;
    margin-right: 6em;
    padding-top: 10em;
    padding-bottom: 6em;
  }


  .aboutUsHeader h4{
    text-align: center;
    padding-top: 1.5em;
    padding-left: 15em;
    font-size: 1.1em;
    padding-right: 15em;
    color: darkslategray;
  }

  .worldwideConnectInfo h4{
    font-family: "Gilroy Regular";
    font-size: 1em;
    color: darkslategray;
    padding-top: 0.3em;


  }
}




@media (min-width: 1550px) {
  .aboutUs{
    margin: auto;
    max-width: 1440px;
  }

  .aboutUsHeader h4{
    text-align: center;
    padding-top: 1.5em;
    padding-left: 17em;
    font-size: 1.1em;
    padding-right: 17em;
    color: darkslategray;
  }


  .worldwideConnectInfo h4{
    font-family: "Gilroy Regular";
    font-size: 1em;
    color: darkslategray;
    padding-top: 0.3em;
margin-right: 4em;

  }

}



.aboutUsHeader{

  text-align: center;
}

.aboutUsHeader h1{
  font-family: "Gilroy Semi Bold";
  font-size: 2.5em;
  font-weight: bolder;
}




.aboutUsinfo{
margin-top: 5em;
  text-align: left;

  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}


.worldwideConnect :not(:first-child){

  //padding-left: 1em;
}


.worldwideConnect{
  display: flex;
}


.worldwideConnectInfo{
  display: inline-block;
  padding-left: 1.3em;

  //padding-right: 55em;

}

.worldwideConnectInfo h2{
  font-family: "Gilroy Semi Bold";
  font-size: 1.5em;
}

.worldwideConnectIcon span{


}
.worldwideConnectIcon img{
  text-align: center;
  border-radius: 10px;
  //background: grey;
  width: 5em;
}