.filterCard{
  border: 0px solid whitesmoke;
  //display: flex;
  //flex-direction: row;
  box-shadow: 0px 0px 37px lightgrey;
  border-radius: 1.5em;
  margin-top: 2.9em;
  background: whitesmoke;
}

.filterElements{
margin-left: 2em;
  margin-right: 2em;
  padding-top: 1.5em;
  //padding-left:2em;
text-align: left;

}

.filterHeading{
  font-size: 1.5em;
  font-family: "Gilroy Semi Bold";
}


.budgetPerNightHeader{




}

.budgetPerNight svg{

margin-top: 1.5em;

}

.budgetPrice{
display: inline-flex;
  margin-top: 0.7em;

}
.budgetPrice h4{

font-family: "Gilroy Semi Bold";

font-size: 1.25em;
}

.priceRight{

  margin-left: 12.5em;
}