.cardElements>*{
  display: inline;
}

.imageSection{
  width: 100%;
  object-fit: cover;
  height: 15vw;

}

.searchCards{
  display: grid;
  grid-template-columns: 1.2fr 2fr;


}

.searchCards{
  border: 1px solid #000;
}