.cardElements>*{
  display: inline;
}

.imageSection{
width: 20px;
  object-fit: cover;
  height:auto;
  text-align: left;

  //display: block;
  //margin-left: 3em;
}



.searchCards{
  border: 0px solid whitesmoke;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 7px lightgrey;
border-radius: 1.5em;

  //border-top-left-radius: 2em;
  margin-top: 2.5em;
background: whitesmoke;
}

.searchCards .pane{
  flex: 1;
  //display: grid;
  //grid-template-columns:  fr 6fr
}

.pane .houseImage{
object-fit: cover;
  //min-height: 100%;
height: 100%;
  max-width: 70%;
border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;

}
.information{
  width: 100%;

  margin-left: -6em;
 margin-top: 1.5em;
  //margin-right: 2.5em;
  margin-bottom: 1.5em;
}

.information h3{
  font-size: 1.15em;
}
.resortLocation{
  padding-top: 1em;
  font-size: 1em;
  color: dimgrey;
}
.icons svg{
  padding-top: 1.5em;
  padding-right: 1.5em;
}
.smallInfo >*{
  display: block;
}

.smallInfo{
  padding-top: 0em;
  display:inline-block;
}
.smallInfoText{
  font-size: 1em;
//padding-left: 0.6em;
  color: dimgrey;
  padding-top: 1em;
}
.smallInfoText .text{
padding-left: 0.5em;
}
.bottomSection>*{
  display: inline;

}

.bottomSection{


}

.price>*{
  display: inline;
}
.priceFee{

 font-family: "Gilroy Semi Bold";
  //font-size: 0.2em;
}
.perNight{
  padding-left: 0.7em;
  font-family: "Gilroy Regular";
  color: darkgray;
font-size: 1em;
}

.bookings>*{
  display: inline;
}

.bookings{
  padding-left: 1em;
}


.bookings .book{
 color: #FF9C0F;
  font-size: 1.2em;
  padding-left: 1em;
}

.bottomSection svg{
  display: inline-flex;
  padding-top: 1.2em;
  padding-left: 2em;
}

.titleAndRatings>*{
  display: inline;
}
.ratings button{
  display: inline-flex;

  margin-left: 6.5em;
  background-color: #031733;
width: 4em;
  height: 2em;
  color: white;
  font-size: 1.1em;
  //vertical-align: center;
  justify-content: center; /* center the content horizontally */
  align-items: center;
  border-radius: 10px;
}
.ratings button span svg{
padding-left: 1em;
vertical-align: center;
}