
@media (min-width: 1024px) and (max-width: 1390px){
  .topFooter {
    //background: black;
    padding-top: 4em;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;

    padding-bottom: 3em;


  }


  .logoSection svg{


    height: 1.5em;
  }


  .column h4{
   font-size: 0.8em;

  }
  .column p{
    font-size: 0.8em;
  }
  .logoSection h5{
    padding-top:2em;


  }


  .logoSection h5{
  font-size: 0.6em;


  }


  .socials svg{
    padding-top: -2em;
  height: 0.8em;
  }



}


@media (min-width: 1440px) {
  .topFooter {
    //background: black;
    padding-top: 4em;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;

    padding-bottom: 2.5em;
    max-width: 1440px;

  }


  .logoSection svg{


    height: 2.1em;
  }

}



@media (min-width: 1550px) {
  .topFooter {
    //background: black;
    padding-top: 4em;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;

    padding-bottom: 2.5em;
margin: auto;
    max-width: 1440px;

  }


  .logoSection svg{


    height: 2.1em;
  }

}




.footer{
  background: black;
  color: white;
  padding-left: 6em;
  padding-right: 6em;
}







.column{

  display: block;
}


.column h4{
  color: #959595;

}
.column p{
  padding-top: 1.3em;
}
.logoSection h5{
  padding-top:2em;


}
.socials  :not(:first-child){
  padding-left: 2em;
  width: 0.9em;
}

.socials{

  padding-top: 2em;
  text-align: left;
}