
@media (min-width: 1440px) {
  .topFooter {
    //background: black;
    padding-top: 4em;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;

    padding-bottom: 2.5em;
    max-width: 1440px;

  }
}@media (min-width: 1550px) {
  .topFooter {
    //background: black;
    padding-top: 4em;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;

    padding-bottom: 2.5em;
margin: auto;
    max-width: 1440px;

  }
}




.footer{
  background: black;
  color: white;
  padding-left: 6em;
  padding-right: 6em;
}




.logoSection svg{


  height: 2.1em;
}


.column{

  display: block;
}


.column h4{
  color: #959595;

}
.column p{
  padding-top: 1.3em;
}
.logoSection h5{
  padding-top:2em;


}
.socials  :not(:first-child){
  padding-left: 2em;
  width: 0.9em;
}

.socials{

  padding-top: 2em;
  text-align: left;
}