
@media (min-width: 1024px) and (max-width: 1390px){

  .clientReviewContainer{

    max-width: 1024px;
    margin: auto;
  }

  .reviewCardsDetails{
    width: 20em;
    background: white;
    text-align: left;
    padding: 1.5em 0.9em;
    margin-right: 1em;
    margin-left: 1em;

    //margin-right: 10em;
  }

  .clientReview h1{
    text-align: center;
    font-family: "Gilroy Semi Bold";
    font-size: 2em;
    //font-weight: bolder;
  }




  .paragraph p{

    font-size: 0.8em;
  }

  .imageAndName{
    display: flex;
    padding-top: 3em;
    //justify-content: center;
    align-items: center;
    //display: flex;
  }

  .imageAndName h4{

    font-family: "Gilroy Semi Bold";
    font-size:0.8em;
    //padding-top: 2em;
    //  vertical-align:middle;
    //justify-content: center;


  }

  .imageAndName img{

    width: 2em;
    border-radius: 5em;
  }



}
@media (min-width: 1440px) {

  .clientReviewContainer{

    max-width: 1440px;
    margin: auto;
  }



  .clientReview h1{
    text-align: center;
    font-family: "Gilroy Semi Bold";
    font-size: 2.5em;
    //font-weight: bolder;
  }



  .paragraph p{

    font-size: 1.1em;
  }

  .imageAndName{
    display: flex;
    padding-top: 3em;
    //justify-content: center;
    align-items: center;
    //display: flex;
  }

  .imageAndName h4{

    font-family: "Gilroy Semi Bold";
    font-size:1.02em;
    //padding-top: 2em;
    //  vertical-align:middle;
    //justify-content: center;


  }

  .imageAndName img{

    width: 4em;
    border-radius: 5em;
  }


}

@media (min-width: 1550px) {

  .clientReviewContainer{

    max-width: 1440px;
    margin: auto;
  }



  .clientReview h1{
    text-align: center;
    font-family: "Gilroy Semi Bold";
    font-size: 2.5em;
    //font-weight: bolder;
  }



  .paragraph p{

    font-size: 1.1em;
  }

  .imageAndName{
    display: flex;
    padding-top: 3em;
    //justify-content: center;
    align-items: center;
    //display: flex;
  }

  .imageAndName h4{

    font-family: "Gilroy Semi Bold";
    font-size:1.02em;
    //padding-top: 2em;
    //  vertical-align:middle;
    //justify-content: center;


  }

  .imageAndName img{

    width: 4em;
    border-radius: 5em;
  }


}




.clientReview{
background: whitesmoke;
  padding-top: 7em;

  padding-bottom: 7em;


}




.reviewCards{


  display: flex;
  justify-content: space-between;
  //flex-direction: row;
  padding-top: 2.5em;


}


.reviewCardsDetails{
  width: 100%;
background: white;
text-align: left;
  padding: 1.5em 0.9em;
  margin-right: 1em;
  margin-left: 1em;

  //margin-right: 10em;
}

