.leftPane{
margin: 0;
 padding: 0;

}
.searchResultHeader{
 display: inline-flex;
}
.searchResultHeader svg{

 padding-top: 0.4em;
 padding-left: 0.8em;
}
.headingName{
 font-size: 2em;
 font-family: "Gilroy Semi Bold";
}

.results{
 font-size: 1em;
 padding-top: 0.9em;
 color: #959595;
 padding-left: 0.25em;
}


@media (min-width: 1024px) and (max-width: 1390px) {
 .headingName{
  font-size: 1.5em;
  font-family: "Gilroy Semi Bold";
  padding-top: 0.15em;
 }
 .results{
  font-size: 0.8em;
  padding-top: 0.9em;
  color: #959595;
  padding-left: 0.3em;
 }

}